body {
    background-color: rgba(189, 218, 245, 0.178);
    font-size: 20px;
text-align: center;
}
.login-content{
    border: 1px solid black;
    width: 30%;
    height: 35%;
    margin: 5% 35%;
    padding: 5px;
    background-color: antiquewhite; 
}