* {
    margin: 0;
    padding: 0;
}
body {
    
    width: 100%;
    height: 100%;
    background-image: url("../myImages/view.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center; 

    font-size: 15px;
}

.wrapper {
    width: 900px;
    margin: 30px 90px;
}
.grid {
   border: 1px solid black;
   background-color: antiquewhite;
   width: 50%;
   height: 70%;
   margin: 5% 25%;
   padding: 8px;
   
}
.textarea {
    width: 70px;
}

body{
    
text-align: center;
}

.list-content ul li{
    list-style: none;
    text-decoration:none;
    display: inline;
}

.list-content ul li a{
    text-decoration:none; 
    padding: 5px;
}
header{
    position: fixed;
    width: 100%;
    overflow: auto;
    background-color: brown;
    border-bottom: 1px solid black;
    top:0px;
    height: 40px;
    padding: 10px;
}
header ul li{
    list-style: none;
    display: inline;
   
}
header ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
header h2{
    float: left;
    padding-right: 700px;

}