* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(107, 142, 189);
    font-size: 15px;
}

.wrapper {
    width: 900px;
    margin: 30px 90px;
}
.grid {
    display: grid 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
   
}
.textarea {
    width: 70px;
}

